.order-container {
  height: 50%;
  width: 100%;
}

.order-item {
  padding: 20px;
  border: 1px solid black;
}

.button {
  border: none;
  background-color: white;
}

.close:hover {
  color: red;
}

.back-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  transition: none;
  margin-top: 1.5rem;
  padding: 0.3rem 1.6rem;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  letter-spacing: 0.1px;
}

.back-btn:hover {
  transition: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s;
}
